# Example values for the RunsOn Fleet stack.

stack_name = "runs-on-fleet-example"

aws_region = "us-east-1"

github_app_id = 123456

github_app_private_key = <<-EOT
-----BEGIN PRIVATE KEY-----
example
-----END PRIVATE KEY-----
EOT

github_base_url = "https://github.com"

license_key = "your-runs-on-license-key"

# integration_step_security_api_key = "your-stepsecurity-api-key"

environment = "production"
app_size    = "medium"

vpc_id = "vpc-0123456789abcdef0"

public_subnet_ids = [
  "subnet-0123456789abcdef0",
]

private_subnet_ids = [
  "subnet-0fedcba9876543210",
]

runtime_image = "public.ecr.aws/c5h5o9k1/runs-on/runs-on:test"

runners = {
  small-x64 = {
    cpu    = 2
    ram    = 4
    family = ["c7"]
    image  = "ubuntu24-full-x64"
  }
}

fleets = {
  my-fleet = {
    timezone     = "UTC"
    runner_group = "xxxx"
    runner       = "small-x64"
  }
}
